<div data-role="view" data-layout="layout" id="view_inbox" data-allowActions="false" data-model="FK.inbox.model" data-bind="events: { init: onViewInit, show: onViewShow }" data-usenativescrolling="false">
	<header data-role="header">
		<div data-role="navbar">
			<a data-align="left" data-icon="arrow-w" data-role="backbutton" class="back-button"></a>
			<span data-role="view-title" data-bind="text: observable.viewTitle"></span>
			<span data-align="right" id="mailCount"><span data-bind="text: observable.mailCount"></span> <span data-text="mails"></span></span>
		</div>
	</header>
	<!--<ul id="remoteListView" data-source="FK.inbox.DS" data-role="listview" data-template="inbox_mailList-template" data-endless-scroll="true"></ul>-->
	<!--<ul data-role="listview" data-source="FK.inbox.DS" data-filterable="true" data-auto-bind="false" data-endless-scroll="true" data-pull-to-refresh="true" data-append-on-refresh="true" data-template="inbox_mailList-template"></ul>-->
	<ul class="mailList" id="inbox_mailList"></ul>
	<ul id="actionsheet" data-role="actionsheet" data-editable="false">
		<li><a data-text="Reply all"></a></li>
	</ul>
	<footer data-role="footer">
        <div data-role="tabstrip">
            <a data-role="button" data-icon="home" href='views/home.html'>Views</a>
            <a data-role="button" data-icon="compose" href="views/create.html">Create</a>
            <a data-role="button" data-icon="search" href="views/search.html">Search</a>
        </div>
    </footer>
</div>

<script type="text/x-kendo-template" id="inbox_mailList-template">
<h2>
	${FromField}
	<p>
		# var recvDate = moment(RecvDate); #
		# var today = moment(new Date()); #
		# if (recvDate.isSame(today, 'day')) { #
		#= recvDate.format('HH:mm') #
		# } else if(recvDate.isoWeek() == today.isoWeek()){ #
		#= recvDate.format("ddd, hA") #
        # }else { #
        #= recvDate.format("YYYY MM DD HH:mm") #
		# } #
	</p>
</h2>
<h4>
		${FromSMTP}
		<p><small>${REFN}</small></p>
</h4>
<h3>
	<span class="fa" data-attachments="${Attachments}"></span> ${SubjectField}
	<p><small>${BREF}</small></p>
</h3>
<h3>
	# var keywordsArray = keywords.split(';'); #
	#= "<mark>" + keywordsArray.join("</mark><mark>") + "</mark>" #
&nbsp;
</h3>
</script>

<script type="text/x-kendo-template" id="inbox_mailList-template2">
<dl>
	<dt>
		<h2>
			${FromField}
		</h2>
		<h4>
			${FromSMTP}
		</h4>
		<h3>
			<span class="fa" data-attachments="${Attachments}"></span> ${SubjectField}
		</h3>
		<h3>
			# var keywordsArray = keywords.split(';'); #
			#= "<mark>" + keywordsArray.join("</mark><mark>") + "</mark>" #
		&nbsp;</h3>
	</dt>
	<dd>
		<p>
			# var recvDate = moment(RecvDate); #
			# var today = moment(new Date()); #
			# if (recvDate.isSame(today, 'day')) { #
			#= recvDate.format('HH:mm') #
			# } else if(recvDate.isoWeek() == today.isoWeek()) { #
			#= recvDate.format("ddd, hA") #
			# } else { #
            #= recvDate.format("YYYY MMMM Do, hh:mm") #
            # }
		</p>
		<p><small>${REFN}</small></p><p><small>${BREF}</small></p>
	</dd>
</dl>

</script>